.body {
  margin: 0px;
  padding: 0px;
}
.bg {
  position: absolute;
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: -1;
}

nav {
  /*border: 1px solid;*/
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 27px;
  justify-content: center;
  align-items: center;
  height: 98px;
  padding: 0px 0px 0px 0px;
}
ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.symbol {
  margin-right: 150px;
  margin-left: 150px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navItems {
  font-family: "Red Hat Display";
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  width: fit-content;
  margin-right: 150px;
  text-align: center;
  color: black;
}

.current {
  color: #1a2362;
  font-weight: bolder;
}

.navItems:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

.picture {
  width: 540px;
  height: 540px;
  border-radius: 50%;
  padding: 6px;
  background: linear-gradient(76.79deg, #1c5ae7 -28.38%, #8c35c7 78.43%),
    #ffffff;
  margin-top: 116px;
}

.picture img {
  width: 540px;
  height: 540px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}

main {
  display: flex;
  justify-content: space-between;
}

.content {
  position: relative;
  margin-left: 130px;
  margin-top: 179px;
}
.one,
.two,
.three,
.four {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.377));
}

.one {
  font-family: Red Hat Display;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  margin: 0px 0px 6px 0px;
}

.two {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 79px;
  margin: 0px 0px 0px 0px;

  color: #1a2362;
}

.three {
  font-family: Red Hat Display;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  margin: 0px 0px 33px 0px;
}

.four {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 66px;
  margin: 0px 0px 57px 0px;

  color: #1a2362;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 81px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.about,
.academics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.heading {
  display: flex;
  width: 634px;
  height: 184px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 93px;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 13px 0px;
}

.academics > .heading {
  margin: 0px 0px 65px 0px;
}

.me {
  width: 540px;
  height: 540px;
  border-radius: 100px;
  margin: 0px 0px 41px 0px;
  border: white 10px solid;
}

.about > .social {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px 0px 81px 0px;
}

.academics > .social {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px 0px 81px 0px;
  align-items: left;
}

.info {
  background: white;
  margin-top: 40px;
  margin-right: 37px;
  margin-bottom: 72px;
  margin-left: 38px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  font-family: Red Hat Display;
  font-weight: normal;
  font-style: italic;
  font-size: 30px;
  line-height: 39.39px;
  padding: 40px 38px 40px 37px;
  margin-bottom: 69px;
  width: 90%;
}

.idBox {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 79px;
}

.instaBox {
  margin-left: 193px;
}

.fbBox {
  margin-left: 203px;
}

.twitterBox {
  margin-left: 180px;
}

.emailBox {
  margin-left: 193px;
}

.idText {
  font-family: Red Hat Display;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
}

.instaBox > img {
  width: 114px;
  height: 114px;
  margin: 0px;
  margin-right: 52px;
}

.fbBox > img {
  width: 94px;
  height: 114px;
  margin: 0px;
  margin-right: 62px;
}

.twitterBox > img {
  width: 141px;
  height: 114px;
  margin: 0px;
  margin-right: 38px;
}

.emailBox > img {
  width: 114px;
  height: 114px;
  margin: 0px;
  margin-right: 52px;
}

.contactInfo {
  margin: 68px 0px 0px 0px;
}

.head {
  font-style: normal;
  font-weight: bold;
}
